.DS_Store
__pycache__
*.pyc
env
runtime
.idea
output
logs
reference
GPT_weights
SoVITS_weights
TEMP

# 20250401 new
Docker
docs
ffmpeg.exe
ffprobe.exe
get_tts_wav_backupapi.py
install.sh
my_readme.md
README.md
test.py
.dockerignore
dockerbuild.sh

# model ignore
KusanagiNene